<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bond.Compiler" version="6.0.0" targetFramework="net452" />
  <package id="Bond.Core.CSharp" version="6.0.0" targetFramework="net452" />
  <package id="Bond.Grpc.CSharp" version="6.0.0" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.3.0" targetFramework="net452" />
  <package id="Grpc.Core" version="1.3.0" targetFramework="net452" />
  <package id="System.Interactive.Async" version="3.1.1" targetFramework="net452" />
</packages>